<div class="contents row">
  <p><%= @user.nickname %>さんの投稿一覧</p>

  <% @user.tweets.each do |tweet| %>
    <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>
  <% end %>
  <%= paginate(@tweets) %>
</div>